# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Secrets and config
.env
*.env
*.key
*.crt
*.pem

# Docker
docker-compose.override.yml
.dockerignore

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Nginx (caso haja cache temporário gerado)
*.swp

# Migrations (opcional, se quiser evitar versionar inicialmente)
**/migrations/*.py
!**/migrations/__init__.py

# Certificados (caso sejam temporários ou sensíveis)
ssl/*.key
ssl/*.crt
